*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif
}

.navi ul{
    width: 100%;
    height: 50px;
    background-color:rgb(62, 163, 62);
    list-style: none;
    box-shadow: 5px;
}

.navlist a{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: whitesmoke;
    text-decoration: none;
    float:left;
    padding: 10px 5px 10px 0px;
    margin-left: 77px;
}

.navlist a:hover{
    color:green;
    height: fit-content;
    animation-name: underline;
    animation-duration: 2000s;
    animation-fill-mode: forwards;
}
/* Navlist end */

/*Body start */

/* header 1 */
body{
    background-color: white; 
}
.header{
    box-sizing: border-box;
    border: 0px lightgreen solid;
    border-radius: 5px;;
    background-color: rgba(165, 136, 42, 0.445);
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 500px;
}
.header p{
    font-size: 20px; 
}

/* Header 2*/
 .header2{
     display:inline-block;
     padding-right: 10px;
    box-sizing: border-box;
    border: 0px lightgreen solid;
    border-radius: 5px;;
    background-color: rgba(165, 136, 42, 0.445);
    width: 250px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin-left: 200px;
    margin-top: 200px
}

h1{
    color:rgb(62, 163, 62);
    letter-spacing: 0.5px;
    text-align: center;
}

.imagesbox{
    
    display: inline-block;
    padding-left: 10px;
    box-sizing: border-box;
    border: 0px lightgreen solid;
    border-radius: 20px;
    height: 300px;
    width: 500px;
    margin-left: 100px;
    margin-bottom: 300px;
    margin-top: 100px;
    position: absolute;
}
/* header 3 */
.header3{
 display: inline-block;
 text-align: center;
 box-sizing: border-box;
 border: 0px lightgreen solid;
 border-radius: 5px;
 background-color: rgba(165, 136, 42, 0.445);
 width: 250px;
 margin-top: 400px;
 margin-left: 800px;
 padding-top: 15px;
}

.imagesbox2{
    display: inline-block;
    border: 0px lightgreen solid;
    border-radius: 20px;
    height: 500px;
    width: 400px;
    margin-top: 200px;
    margin-bottom: 10px;
    margin-left: -860px;
    position: absolute;
}

/* Header 4 */

.header4{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: 0px lightgreen solid;
    border-radius: 5px;
    background-color: rgba(165, 136, 42, 0.445);
    width: 250px;
    padding: 10px 0px 10px 0px;
    margin-top: 500px;
    margin-left: 200px;
}

.imagesbox3{
    display: inline-block;
    border: 0px lightgreen solid;
    border-radius: 20px;
    height: 450px;
    width: 500px;
    margin-top: 300px;
    margin-left: 150px;
    position: absolute;
}

/* NMB Organic Growers done */

/* Why Organic Start */

/*Practical start */

/* Mental Health Start */
.mental{
    margin-top: 10px;
    font-size: 50px;
}

.mental2{
    display: inline-block;
    vertical-align: auto;
    box-sizing: border-box;
    border: 1px lightgreen solid;
    border-radius: 20px;
    height: 100px;
    width: 600px;
    margin-left: 360px;
    margin-top: 100px;
    text-align: center;
}
/* Website information */
.website{
    box-sizing: border-box;
    border: 1px lightgreen solid;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 300px;
}

#webinfo{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

 #namiimage{
     display: inline-block;
     margin-top: 50px;
     width: 200px;
     height: 62px;
 }

#adlimage{
    display: inline-block;
    margin-top: 50px;
    width: 200px;
    height: 46px;
}

#sandyimage{
    display: inline-block;
    border: 0px green solid;
    border-radius: 5%;
    width: 220px;
    height: 100px;
    margin-top: 20px;
}

#mindfulimage{
    display: inline-block;
    border: 0px green solid;
    border-radius: 5%;
    width: 220px;
    height: 120px;
    margin-top: 20px;
}

.websitelist{
    list-style: none;
}
.websitelist img{
    float: left;
    padding: 0px 45px 0px 0px;
    margin-left: 60px;
}

.websitenames{
    list-style: none;
}
.websitenames a{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    float: left;
    text-decoration: none;
    color: black;
    padding: 0px 220px 0px 0px;
}

.websitenames a:hover{
    color: green;
    
}
#namltext{
    display: block;
    padding-left: 120px;
}

#adltext{
    display: block;
}

#sandytext{
    display: block;
    padding-left: 45px;
}

#mindfultext{
    display: block;
    padding-left: 17px;
}
/* Mental Health Quote */

/* Positivity, Support, and Balance */
.emotionalquotes{
    border: 1px lightgreen solid;
    border-radius: 10px;

}

.quotelist{
    list-style: none;
    
}

.quotelist img{
    float:left;
    padding-right: 100px;
    margin-top: 10px;
}



#support{
    width: px;
    height: px;
    box-sizing: border-box;
    border: 0px lightgreen solid;
    border-radius: 50%;
    margin-left: 70px;
    
}

#positivity{
    width: 300px;
    height: 225px;
    border: 0px lightgreen solid;
    border-radius: 50%;
}

#balance{
    width: 300px;
    height: 130px;
    border: 0px lightgreen solid;
}

.quotenames{
    list-style: none;
}

.quotenames li{
    float:left;
}
/* Social media contact */
.socialmedia{
    border: 1px lightgreen solid;
    border-radius: 10px;
    text-decoration: none;
    width: 300px;
    margin-top: 500px;
}
#insta{
    display: inline-block;
    vertical-align: auto;
    height: 83px;
    width: 91px;
    border: 0px green solid;
    border-radius: 50px;
}

#insta2{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 100px;
    margin-left: 10px;
}
#insta2 a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#insta3{
    display: inline-block;
    vertical-align: middle;
    margin-left: -145px;
    margin-bottom: 40px;
}
#insta3 a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#insta2 a:hover{
    color: green;
}

#insta3 a:hover{
    color: green;
}
/* Literature start */
